
.addTitleContainer{
  background-color: rgb(49, 47, 47);
  box-sizing: 20px;
  color: aliceblue;
  margin-top: -10px;
  height: 4rem;
padding: 20px;
}
.addTitle{
  border-bottom: 3px solid #00f000;
width: 100px;
padding-bottom: 10px;
}
.icons{
  padding: 10px;
 
}
.chkbx-img{
  padding-right: 190px;
}
.App {

  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.main{
  padding: 30px;
  background-color: white;
}

.App-link {
  color: #61dafb;
}

#laptop_icon{
  width: 2.6rem; 
  margin-left: 1rem;
}
#mobile_icon{
  width: 2.6rem; 
  margin-left: 1rem;
}

.addnews{
  padding-top: 0.375rem;
  padding-right: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 0.375rem;
  flex-wrap: wrap;
  display: flex;
  flex-grow:1;
  flex-direction: column;
  width: 35rem;
  background-color: white;
}
.titles{
  color: blue;
  display: block;
  white-space: pre;
  padding: 5px;
        


}
#title{
  width: 30rem;
  height: 2rem;
  padding: 20px;
 margin-bottom: 10px;
  
}
#description{
  width: 30rem;
  height: 4rem;
  margin-bottom: 10px;
}
#act-date{
  margin-bottom: 10px;
  width: 30rem;
  height: 2rem;
}

#exp-date{
  margin-bottom: 20px;
  width: 30rem;
  height: 2rem;
}
.save{
padding-left: 400px;
}
#savebtn{
  background-color:  #00f000;;
 border-color: #00f000;
  width: 4rem;
  height: 2rem;
  margin: 10px;
   
}
#resetbtn{

    border-color: #666;
    color: #fff;
    background-color: #666;
  width: 4rem;
  height: 2rem;
   
}
#marquee{
  background-color: rgb(24, 19, 19);
  color: rgb(243, 235, 235);
  white-space: nowrap;
  overflow: hidden;
  margin-left: 10%;
  margin-right: 10%;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

#mar-content{
  transform: translateX(100%);
  animation: moving 25s linear infinite;
}

@keyframes moving {
    0%{
      transform: translateX(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }
  

