.clusterTitleContainer{
  background-color: rgb(49, 47, 47);
box-sizing: 20px;
  color: aliceblue;
  margin-top: -10px;
  height: 4rem;
padding: 20px;
}
.configurationcontent{
  float: left;
  margin-top: 10px; 
  margin-left: 16px;
  padding: 1px 25px 26px 24px;
}

.divnew{
  float: left;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
}
.label{
  color: blue;
}
.btn_1{
  background-color: black;
  height: 5vh;
  color: white;
}
:hover.btn_1{
  background-color: rgb(17, 240, 17);
  color: black;
  cursor: pointer;
}
.btn_2{
  background-color: white;
  height: 5vh;
}
:hover.btn_2{
  background-color: rgba(100, 96, 96, 0.151);
  cursor: pointer;
}
.btn_3{
  height: 5vh;
  color: white;
  background-color: rgba(104, 104, 104, 0.753);
}
.btn_3:hover{background-color: #333;}
.form-control{
  height: 6vh;
  width: 211px;
}
#root {
  overflow: auto;
  flex-grow: 1;
  background-color: #bbbaba63;
}

.fil {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

th {
  font-weight: 400;
  padding: 0.75rem !important;
  border-width: 0 0 1px 1px;
  white-space: nowrap;
}

.table>:not(:first-child) {
  border-top: 1px solid currentColor !important;
}

th {
  padding: 0.75rem !important;
  border-width: 0 0 1px 1px !important;
  white-space: nowrap;
}


Table {
  height: 219px;
  border: 1px solid #80808070;
  /* overflow-x: auto;
    display: block;
    overflow-y: auto; */
}

.linkicon {
  font-size: 13px;
  padding: 5px 12px;
  border: 1px solid gray;
}

.nielsen-footer {
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  padding: 1px 0px;
  margin-top: 13px;
  ;
}

.tablediv {
  background-color: #fff;
  margin-top: 13px;
  padding: 0px 10px 10px 10px;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
  word-wrap: break-word;
  background-clip: border-box;
}

.searchhead {
  font-size: 1.5rem;
  font-weight: 400;
  padding-left: 5px;
}

.fa-expand {
  margin-left: 25px;
  margin-right: 20px;
}

.selectoption {
  padding: 6px 30px;
}

.tablefooter {
  padding: 4px 0px 1px 0px;
}

.div1 {
  border: 1px solid #ccc;
  margin-top: 13px;
}

.savebtn {
  border-color: #00f000;
  color: #000;
  background-color: #00f000;
  border: none;
  padding: 4px 10px 4px 10px;
  border: 1px solid #00f000;
  font-size: 16px;
}

.savebtn:hover {
  background-color: #fff;
  border: 1px solid #000;
}

table,
td,
th {

  border: 1px solid #80808070;
  white-space: nowrap;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;

}
.containerfluidconfiguration{
  padding-left: 15px;
  padding-right: 20px;
margin-top: 117px;}
.clusterTitle{
  border-bottom: 3px solid #00f000;
width: 90px;
padding-bottom: 10px;
}
.configurationcontent{background-color: #fff; width: 97%;border-radius: 0.35rem;}
.btnsearch,.resetbtn,.downloadbtn{padding: 7px 12px 25px 12px;border: 1px solid #000;}
.k-upload-button input{font: 170px monospace!important;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;}
  .k-upload-button {position: relative;
    overflow: hidden;
    direction: ltr;}
    .k-dropzone{margin-top: 37px;border: 1px solid #c2b6b6;
      background-color: #f8f9fa;
      padding: 10px 10px 10px 10px;}
    .k-dropzone-hint{float: right;margin-top: -21px;color: #666;}

